In [ ]:
import numpy as np
np.set_printoptions(threshold=50)

## Tables

In [ ]:
from datascience import *

In [ ]:
Table()

In [ ]:
Table().with_column('Petals', make_array(8, 34, 5))

In [ ]:
Table().with_columns(
    'Petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

In [ ]:
flowers = Table().with_columns(
    'Petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

flowers.with_column(
    'Color', make_array('pink', 'yellow', 'red')
)

In [ ]:
flowers

In [ ]:
flowers = flowers.with_column(
    'Color', make_array('pink', 'yellow', 'red')
)

In [ ]:
flowers

## Minard's Map

In [ ]:
minard = Table.read_table('minard.csv') # or http://inferentialthinking.com/notebooks/minard.csv
minard

In [ ]:
minard.num_columns

In [ ]:
minard.num_rows

In [ ]:
minard.labels

In [ ]:
minard.relabeled('City', 'City Name')

In [ ]:
minard = minard.relabeled('City', 'City Name')
minard

In [ ]:
minard.column('Survivors')

In [ ]:
minard.column(4)

In [ ]:
minard.column(4).item(0)

In [ ]:
initial = minard.column('Survivors').item(0)
minard = minard.with_column(
    'Percent Surviving', minard.column('Survivors')/initial
)
minard

In [ ]:
minard.set_format('Percent Surviving', PercentFormatter)

In [ ]:
minard.select('Longitude', 'Latitude')

In [ ]:
minard.select(0, 1)

In [ ]:
minard.drop('Longitude', 'Latitude', 'Direction')

In [ ]:
minard

## Discussion Question

In [ ]:
sum(minard.select('Survivors'))/minard.num_rows

In [ ]:
sum(minard.column('Survivors'))/minard.num_rows

In [ ]:
import numpy as np
from datascience import *
%matplotlib inline

## Sort

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba = Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')
nba

In [ ]:
nba.show(3)

In [ ]:
sum(nba.column(3))

In [ ]:
nba.column(3).sum()

In [ ]:
max(nba.column(3))

In [ ]:
nba.sort('PLAYER').show(5)

In [ ]:
nba.sort(3).show(5)

In [ ]:
nba.sort(3, descending=True)

In [ ]:
nba.sort(3, descending=True).sort(1)

In [ ]:
help(nba.sort)

In [ ]:
nba.sort(3, descending=True).sort(1, distinct=True)

## Lists

In [ ]:
make_array(2, 3.0)
help(make_array)

In [ ]:
make_array(2, 3.0).item(0)

In [ ]:
make_array(2, 'three')

In [ ]:
make_array(2, 'three').item(0)

In [ ]:
[2, 'three']

In [ ]:
type([2, 'three'])

In [ ]:
row = ['Rookie', 'SG', 'Memphis Grizzlies', 0.02]
nba.with_row(row).sort(3)

## Take

In [ ]:
nba.take(0)

In [ ]:
nba.take([0, 1, 2])

In [ ]:
nba.sort(3, descending=True).take([0, 1, 2])

In [ ]:
rich = nba.sort(3, descending=True).take([0, 1, 2])
rich.sort(2)

In [ ]:
nba

In [ ]:
nba.take(np.arange(8, 15))

## Where

In [ ]:
salary = 3
nba.sort(salary)

In [ ]:
nba.where(salary, are.above(10))

In [ ]:
nba.where(salary, are.above(10)).num_rows

In [ ]:
nba.where(salary, are.above(10)).sort(salary)

In [ ]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))

In [ ]:
nba.where('PLAYER', 'Stephen Curry')

In [ ]:
nba.where('TEAM', 'Golden State Warriors')

In [ ]:
nba.where('TEAM', are.containing('Los Angeles')).sort(salary)

In [ ]:
nba.where(salary, are.between(3, 4))

## Discussion Question

In [ ]:
nba.where(1,'SF')

In [ ]:
nba.where(1,'SF').column(3)

In [ ]:
nba.where(1,'SF').column(3).sum()

In [ ]:
nba.where(1,'SF').column(3).sum()/nba.where(1,'SF').num_rows

In [ ]:
make_array(nba.where(1, 'SF').column(3).sum()/nba.where(1, 'SF').num_rows,
nba.where(1, 'PF').column(3).sum()/nba.where(1, 'PF').num_rows,
nba.where(1, 'SG').column(3).sum()/nba.where(1, 'SG').num_rows,
nba.where(1, 'PG').column(3).sum()/nba.where(1, 'PG').num_rows,
nba.where(1, 'C').column(3).sum()/nba.where(1, 'C').num_rows)

In [ ]:
nba.where(1, 'PG').where(3, are.above(15)).column(0)

In [ ]:
nba.with_row(['Jazz Bear','Mascot','Utah Jazz',100])
nba.where('PLAYER', are.containing('Bear'))