In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
abs(-34.5)

34.5

In [3]:
min(3, 5)

3

In [4]:
#Fahrenheit to Celsius

In [5]:
100*(9/5) + 32

212.0

In [6]:
0*(9/5) + 32

32.0

In [7]:
def F_to_C (temp):
    return temp*(9/5) + 32

In [8]:
F_to_C(100)

212.0

In [9]:
y = 100
F_to_C(y/4)

77.0

In [10]:
#what is a value of temp?
temp

NameError: name 'temp' is not defined

In [ ]:
temp = 25
F_to_C(temp)

#what is a value of temp?

In [ ]:
#replace temp indside with 10. 
#What will be the output?

temp = 25
def F_to_C (temp):
    return 10*(9/5) + 32

## Example (Question from slides)

In [ ]:
counts = make_array(1, 2, 3)
total = counts.sum()
np.round(counts/total*100, 2)

In [ ]:
#let's define a function now

def percents(counts):
    ''' Converts counts to percents out of the total'''
    total = counts.sum()
    return np.round(counts / total * 100, 2)

In [ ]:
percents(make_array(2, 4, 6))

In [ ]:
#adding a second parameter, decimal places
def percents(counts, decimal_places):
    ''' Converts counts to percents out of the total'''
    total = counts.sum()
    return np.round(counts / total * 100, decimal_places)

In [ ]:
percents(make_array(2, 4, 6), 3)

In [ ]:
#only one argument (one input):

def percents(counts):
    ''' Converts counts to percents out of the total'''
    total = counts.sum()
    return np.round(counts / total * 100, decimal_places)

In [ ]:
#how to make an argument optional:
def percents(counts, decimal_places = 2):
    ''' Converts counts to percents out of the total'''
    total = counts.sum()
    return np.round(counts / total * 100, decimal_places)

In [ ]:
percents(make_array(2, 4, 6))

## APPLY

In [ ]:
def cut_off_at_a_billion(number):
    '''The smaller of x and 1,000,000,000'''
    return min(number, 1e9)

In [ ]:
cut_off_at_a_billion(4)

In [ ]:
cut_off_at_a_billion(40000000000)

In [12]:
#source = 'http://inferentialthinking.com/notebooks/top_movies.csv'
source = 'top_movies.csv'
top = Table.read_table(source).where('Studio', 'Fox')
top

Title                                        | Studio | Gross     | Gross (Adjusted) | Year
Avatar                                       | Fox    | 760507625 | 846120800        | 2009
Star Wars: Episode I - The Phantom Menace    | Fox    | 474544677 | 785715000        | 1999
Star Wars                                    | Fox    | 460998007 | 1549640500       | 1977
Star Wars: Episode III - Revenge of the Sith | Fox    | 380270577 | 516123900        | 2005
Star Wars: Episode II - Attack of the Clones | Fox    | 310676740 | 465175700        | 2002
Return of the Jedi                           | Fox    | 309306177 | 818316900        | 1983
Independence Day                             | Fox    | 306169268 | 602639200        | 1996
The Empire Strikes Back                      | Fox    | 290475067 | 854171500        | 1980
Home Alone                                   | Fox    | 285761243 | 589287500        | 1990
Night at the Museum                          | Fox    | 250863268 | 322261900        | 2006
... (16 rows omitted)

In [ ]:
cut_off_at_a_billion(top.column(3).item(0))

In [ ]:
cut_off_at_a_billion(top.column(3).item(2))

In [ ]:
cut_off_at_a_billion(top.column(3))

In [ ]:
top.apply(cut_off_at_a_billion, 'Gross (Adjusted)')

In [ ]:
cut_off = top.apply(cut_off_at_a_billion, 'Gross (Adjusted)')
cut_off
top.with_column('Cut_off', cut_off)

In [ ]:
#note, we do not use ( ) with the name of the function
type(cut_off_at_a_billion)

In [ ]:
#Look at the Docstring! Looks familiar? 
cut_off_at_a_billion?

## Discussion Question

In [ ]:
s = "Data Science rocks!"
def string_len(string):
    return string + ': length is '+ str(len(string))

string_len(s)

In [ ]:
arr = top.apply(string_len, 'Title')
arr

## Predictions

In [13]:
# source = 'http://inferentialthinking.com/notebooks/galton.csv'
source = 'galton.csv'
galton = Table.read_table(source)
galton

family | father | mother | midparentHeight | children | childNum | gender | childHeight
1      | 78.5   | 67     | 75.43           | 4        | 1        | male   | 73.2
1      | 78.5   | 67     | 75.43           | 4        | 2        | female | 69.2
1      | 78.5   | 67     | 75.43           | 4        | 3        | female | 69
1      | 78.5   | 67     | 75.43           | 4        | 4        | female | 69
2      | 75.5   | 66.5   | 73.66           | 4        | 1        | male   | 73.5
2      | 75.5   | 66.5   | 73.66           | 4        | 2        | male   | 72.5
2      | 75.5   | 66.5   | 73.66           | 4        | 3        | female | 65.5
2      | 75.5   | 66.5   | 73.66           | 4        | 4        | female | 65.5
3      | 75     | 64     | 72.06           | 2        | 1        | male   | 71
3      | 75     | 64     | 72.06           | 2        | 2        | female | 68
... (924 rows omitted)

In [ ]:
galton.select(1, 2, 7).hist()

In [ ]:
galton.select(3, 7)

In [ ]:
heights = galton.select(3, 7).relabeled(0, 'MidParent').relabeled(1, 'Child')
heights

In [ ]:
heights.scatter(0)

In [ ]:
close_to_68 = heights.where('MidParent', are.between(67.5, 68.5))
close_to_68

In [ ]:
close_to_68.column('Child').mean()

In [ ]:
heights.scatter('MidParent')
_ = plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
_ = plots.plot([68.5, 68.5], [50, 85], color='red', lw=2)
_ = plots.scatter(68, 66.24, color='gold', s=40)

In [ ]:
def predict_child(mp):
    close = heights.where('MidParent', are.between(mp -.5, mp + .5))
    return close.column('Child').mean()

In [ ]:
predict_child(68)

In [ ]:
heights.apply(predict_child, 'MidParent')

In [ ]:
heights_with_pred = heights.with_columns('Prediction', heights.apply(predict_child, 'MidParent'))
#heights_with_pred

In [ ]:
#nearest neighbour estimation 

heights_with_pred.scatter('MidParent' )

## APPLY WITH MULTIPLE ARGUMENTS

In [ ]:
galton.row(0)

In [ ]:
galton.row(0).item(1)

In [ ]:
galton.row(0).item('father')

In [ ]:
len(galton.row(0))

In [ ]:
#re-create the midparent height, just for the first row for now

In [ ]:
first_row = galton.row(0)
first_row

In [ ]:
m = first_row.item('mother')
f = first_row.item('father')
(m+f)/2

In [ ]:
#galton's way to calculate the midParent
m = first_row.item('mother')
f = first_row.item('father')
(1.08*m+f)/2

In [ ]:
m = galton.row(4).item('mother')
f = galton.row(4).item('father')
(1.08*m+f)/2

In [ ]:
def midParent(mother_height, father_height):
    return (1.08*mother_height+father_height)/2

In [ ]:
midParent(galton.row(4).item('mother'), galton.row(4).item('father'))

In [ ]:
galton

In [ ]:
galton.take(np.arange(10)).apply(midParent, 'mother', 'father')

## Practice if time permits

In [ ]:
def my_func():
    x = 10
    print("Value inside function:", x)

x = 20
my_func()
print("Value outside function:", x)

In [ ]:
def diff (num1, num2):
    return num1-num2

res = top.apply(diff, 'Gross (Adjusted)', 'Gross')
res

In [ ]:
top.with_columns('Difference', top.apply(diff, 'Gross (Adjusted)', 'Gross'))