## Part 2 - Data Cleaning

## Due Oct 19, 11:59pm

In [ ]:
# Imports
#  Note: these are all the imports you need! Do not import any other functions / packages
%matplotlib inline

from datascience import *

import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
# Don't change this cell; just run it. 
# The result will give you directions about how to log in to the submission system, called OK.
# Once you're logged in, you can run this cell again, but it won't ask you who you are because
# it remembers you. However, you will need to log in once per assignment.
from client.api.notebook import Notebook
ok = Notebook('project1part1.ok')
_ = ok.auth(inline=True)

In [ ]:
_ = ok.submit()

In [ ]:
# Don't change this cell; just run it. 
# The result will give you directions about how to log in to the submission system, called OK.
# Once you're logged in, you can run this cell again, but it won't ask you who you are because
# it remembers you. However, you will need to log in once per assignment.
from client.api.notebook import Notebook
ok = Notebook('project1part1.ok')
_ = ok.auth(inline=True)# Read in the table created by part 1 of this project.
data_table = Table.read_table('project1part1result.csv')
data_table

In [ ]:
# 2a) First check how many non-numerical values (missing data) there are in the income data. 
#  If you are stuck, first figure out how missing values are stored, then search for that.
#  Save the number of non-numerical values into a variable called 'nan_count'

In [ ]:
# 2b) Remove all rows that have missing income data

In [ ]:
# Now, all the entries in the 'income' column are numerical values, but the entries in the 'income' column are still strings.
# This code will change the table so that the 'income' column contains floating point values that we can work with numerically.

float_income = data_table.column('income').astype(np.float)
data_table = data_table.drop('income').with_columns('income', float_income)
data_table

In [ ]:
#Plot counts of the 'age' variable

data_table.hist('age', unit='years', bins = np.arange(0, 86, 5), normed=False)

In [ ]:
#Plot counts of the 'steps' variable

data_table.hist('steps', normed=False)

In [ ]:
# 2c) The histogram for 'steps' shows a large number of very low values, which actually represent missing values.
#  Find out how many missing values there are in the steps data. 
#  If you are stuck, first figure out how missing values are stored, then search for that.
#  Save the number of missing values into a variable called 'missing_count'

In [ ]:
# 2d) Remove all rows with a missing 'steps' value

In [ ]:
#Plot counts of the 'income' variable

data_table.hist('income', unit='dollars',  bins = np.arange(0, 500001, 10000), normed=False)

In [ ]:
# 2e) Make another table called 'rich' containing only those people whose income is over $150,000.
# Save the number of people whose income is over $150,000 in a variable called 'rich_count'.
# We will consider these rich people outliers. Remove them from 'data_table'.

In [ ]:
# 2f) The data for the 'smoker' column has been recorded in many different ways.
# Fix the 'smoker' column so that each individual has one of two values: 'Yes' or 'No'.
# One way to do this is to create separate tables based on the value of the 'smoker' column,  
# replace the 'smoker' column in each table with an appropriately formatted column, then combine tables.
# The following methods may be useful: 'np.char.lower', 'np.char.upper', the array method 'repeat',
# and the table methods 'append', 'drop', and 'with_columns'.

In [ ]:
#2g) Make sure the column labels from left to right are 'id', 'smoker' 'age', 'steps', 'income'
# Make sure that the table is sorted in increasing order of ID number
# Save the resulting final table as 'clean_data'

In [ ]:
# Run this cell to submit your code. You can always resubmit before the deadline.
_ = ok.submit()