In [ ]:
#imports the module 'datascience', and creates references to all public objects 
#defined by that module  
#good read: https://stackoverflow.com/questions/9439480/from-import-vs-import

from datascience import *

# CSV Files

In [2]:
#'Comma Separated Values' files store data, separated by comma's. Think of them like lists
#load the csv file into a table
#and view it
data_csv = Table.read_table('Test.csv')
data_csv

Name   | Age  | Sex    | Smoking
Martha | 34   | Female | Yes
John   | 56   | M      | y
Nick   | -67  | male   | No
paul   | 76   | 0      | Never

In [8]:
data_csv

Name   | Age  | Sex    | Smoking
Martha | 34   | Female | Yes
John   | 56   | M      | y
Nick   | -67  | male   | No
paul   | 76   | 0      | Never

In [10]:
data_csv.column(0)

array(['Martha', 'John', 'Nick', 'paul'],
      dtype='<U6')

In [12]:
data_csv.append_column('Height', make_array(60, 65, 70, 63))

In [13]:
data_csv

Name   | Age  | Sex    | Smoking | Height
Martha | 34   | Female | Yes     | 60
John   | 56   | M      | y       | 65
Nick   | -67  | male   | No      | 70
paul   | 76   | 0      | Never   | 63

# JSON

In [6]:
#Can store key/value pairing 
#Load the json file as a table
#Hint: use tab to check all methods of the Table object
data_json = Table.read_table('lec1.json')
data_json

[{"id":22453,"last_name":"Adams","first_name":"Jason","income":13024.21},
{"id":49241,"last_name":"Adams","first_name":"Paula","income":61877.51}]

In [ ]:
#Uh-oh..where is the table? Why is the top line bold?

# PDF

In [7]:
#'Portable Document Files' is a format to render complex data documents
data_pdf = Table.read_table('lec1.pdf')
data_pdf

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2

In [ ]:
#let's open pdf in a plain text editor and see what is under the hood.

# Practice

In [14]:
#Create a table with 4 columns and three rows.

class_table  = Table().with_columns([
       'Class', ['a', 'b', 'c'],
       'Class_id',  [  9,   3,   3],
       'Teacher', [  'Marina',   'Janine',   'Mia'],
       'Classroom', [  24,   22,   42],

    ])
class_table

Class | Class_id | Teacher | Classroom
a     | 9        | Marina  | 24
b     | 3        | Janine  | 22
c     | 3        | Mia     | 42

In [ ]:
#Change the value in the second column and first row to something else
class_table[1]

In [ ]:
class_table[1][0] = 5
class_table

In [ ]:
#Relabel your first column
class_table = class_table.relabeled('Class', 'Class_name')
class_table

In [ ]:
#Remove your last row
class_table = class_table.remove(2)
class_table