In [1]:
import numpy as np
from datascience import *

1. A table named pay contains one row for each faculty member and these columns:<br>
<ul>
<li>dept: a string, the department of the faculty member.</li>
<li>name: a string, the first name of the faculty member.</li>
<li>role: a string, one of: Assistant Professor, Associate Professor, Professor, or Lecturer.</li>
<li>salary: an int, last yearâ€™s salary paid by the university.</li>
</ul>

In [2]:
pay = Table().with_columns(
    'dept', make_array('Journalism', 'Economics', 'South & Southeast Asian Studies','Journalism','Journalism','Economics'),
    'name', make_array('Jeremy', 'Christina', 'Penelope','Martin','Maya','John'),
    'role', make_array('Lecturer', 'Professor', 'Associate Professor','Lecturer','Lecturer','Lecturer'),
    'salary', make_array(111528,349727,127119,200001,191789,253492)
)

Compute the total salary amount paid to all faculty

The name of the third highest paid faculty member. (Assume no two faculty have the same salary.)

The number of lecturers in the department that has the most lecturers. (One has more than the rest.)

The average faculty salary after all faculty members get a 10% raise each year for three years.

# Section 2

Each row of the trip table from lecture describes a single bicycle rental in the San Francisco area. Durations are integers representing times in seconds. <br>
First Load table trip

In [3]:
trip = Table.read_table("trip.csv")

In [4]:
trip.show(1)

Write a Python expression below each of the following descriptions that computes its value. You may use
up to two lines and introduce variables.

The average duration of a rental that lasted more than 2 minutes.

In [5]:
two_mins = trip.where('Duration', are.above(120))
two_mins.column('Duration').sum() / two_mins.num_rows

1054.1654810047276

The number of rentals that started at the San Francisco Caltrain station.

In [6]:
trip.where(3, are.containing('San Francisco Caltrain')).num_rows

48062

Work with first 1000 rows of trip table. The name of the station where the most rentals ended (assume no ties).

In [7]:
trip.take(np.arange(0,1000)).group('End Station').sort('count', descending=True).column(0).item(0)

'San Francisco Caltrain (Townsend at 4th)'

The number of stations for which the average duration ending at that station was at least 300 seconds.

In [13]:
temp_table = trip.take(np.arange(0,1000))
np.count_nonzero(temp_table.select(1, 6).group(1, np.mean).column(1) >= 300)

58

In [15]:
temp_table.select(1, 6).group(1,np.mean)

End Station                       | Duration mean
2nd at Folsom                     | 388.429
2nd at South Park                 | 511.524
2nd at Townsend                   | 511.214
5th at Howard                     | 522.231
Adobe on Almaden                  | 365.75
Beale at Market                   | 444.357
Broadway St at Battery St         | 762.429
California Ave Caltrain Station   | 816
Castro Street and El Camino Real  | 339.5
Civic Center BART (7th at Market) | 4067.32
... (51 rows omitted)