## Part 1 - Data Wrangling
## Due Oct 12, 11:59pm

Before you start, make sure you have read the instructions, available as a PDF file in this directory.
You are provided with two data files:
- age_steps_smoker.csv
- name_income_id.json

In [ ]:
# Don't change this cell; just run it. 
# The result will give you directions about how to log in to the submission system, called OK.
# Once you're logged in, you can run this cell again, but it won't ask you who you are because
# it remembers you. However, you will need to log in once per assignment.
from client.api.notebook import Notebook
ok = Notebook('project1part1.ok')
_ = ok.auth(inline=True)

In [ ]:
_ = ok.submit()

In [ ]:
# Imports
#  Note: these are all the imports you need! Do not import any other functions / packages

from datascience import *

import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
# 1a) Load the csv file as a table called 'steps'

In [ ]:
# 1b) Load the json file as a table called 'inc'

In [ ]:
#1c) Calculate the number of columns in the table 'inc' and store your answer as 'num_cols'

In [ ]:
#The data type of each row in the table 'inc' is a string. For example, the first row 
type(inc.column(0).item(0))

In [ ]:
#The string contains all the relevant information for one person. For example, the first row string is
person = inc.column(0).item(0)
person

In [ ]:
#1d) Use the string method called 'split' to separate the string 'person' into a list of four strings called 'attribute_list'.
# You should look up the 'split' method to see how it is used.

In [ ]:
#1e) Make a variable called 'id_string' that contains the first element of 'attribute_list'.

In [ ]:
#1f) Use the string method called 'lstrip' to replace the variable 'id_string' with the actual identification number, '49241'.
# You should look up the 'lstrip' method to see how it is used.

In [ ]:
#1g) Use a similar strategy to make variables called 'last_name_string', 'first_name_string', and 'income_string'.
# You should use the 'lstrip' and 'rstrip' methods.
# Check that at the end, 'last_name_string' is set to 'Adams', 
# 'first_name_string' is set to 'Paula' and 'income_string' is set to '61877.51'.

In [ ]:
#1h) Make an empty table called 'inc_expanded' with columns 'ID', 'LAST', 'FIRST', 'INCOME'

In [ ]:
#1i) Add a row to the table 'inc_expanded' containing the information for Paula Adams.
# Use the variables 'id_string', 'last_name_string', first_name_string',  and 'income_string'.
# The first column 'ID' should have an integer value. The other three columns should have string values (for now).

In [ ]:
#1j) You have added the first person, Paula Adams, to the table 'inc_expanded'.
# You will now add each other person to the table 'inc_expanded' in exactly the same way. 
# Copy your code from the previous parts to fill in this cell.
# Keep the indentation as it is - this is important for the code to function properly.

for p in range(1, inc.column(0).size):
    person = inc.column(0).item(p)
    #put your code from 1d here
    #put your code from 1e and 1f here
    #put your code from 1g here
    #put your code from 1i here
inc_expanded

In [ ]:
# Notice that the column label (the header) in the table 'inc' actually represents an individual:
# [{"id":22453,"last_name":"Adams","first_name":"Jason","income":13024.21}
# Manually add this individual to the table 'inc_expanded'

inc_expanded = inc_expanded.with_row([22453, 'Adams', 'Jason', '13024.21'])

In [ ]:
#1k) Drop the 'FIRST' and 'LAST' columns from the table 'inc_expanded'.

In [ ]:
#1l) Combine the two tables 'steps' and 'inc_expanded' into a table called 'combo' using the 'join' table method.
# If you are having trouble, make sure that the id numbers of both tables are stored as ints.

In [ ]:
#1m) Reorder and rename the columns so that the labels from left to right are 'id', 'smoker' 'age', 'steps', 'income'
# Save the resulting final table as 'data_table'

In [ ]:
# Run this cell to submit your code. You can always resubmit before the deadline.
_ = ok.submit()