In [ ]:
import numpy as np
from datascience import *

1. A table named pay contains one row for each faculty member and these columns:<br>
<ul>
<li>dept: a string, the department of the faculty member.</li>
<li>name: a string, the first name of the faculty member.</li>
<li>role: a string, one of: Assistant Professor, Associate Professor, Professor, or Lecturer.</li>
<li>salary: an int, last yearâ€™s salary paid by the university.</li>
</ul>

In [ ]:
pay = Table().with_columns(
    'dept', make_array('Journalism', 'Economics', 'South & Southeast Asian Studies','Journalism','Journalism','Economics'),
    'name', make_array('Jeremy', 'Christina', 'Penelope','Martin','Maya','John'),
    'role', make_array('Lecturer', 'Professor', 'Associate Professor','Lecturer','Lecturer','Lecturer'),
    'salary', make_array(111528,349727,127119,200001,191789,253492)
)

Compute the total salary amount paid to all faculty

The name of the third highest paid faculty member. (Assume no two faculty have the same salary.)

The number of lecturers in the department that has the most lecturers. (One has more than the rest.)

The average faculty salary after all faculty members get a 10% raise each year for three years.

# Section 2

Each row of the trip table from lecture describes a single bicycle rental in the San Francisco area. Durations are integers representing times in seconds. <br>
Firstly Load table trip

In [ ]:
trip =

In [ ]:
trip.show(1)

Write a Python expression below each of the following descriptions that computes its value. You may use
up to two lines and introduce variables.

The average duration of a rental that lasted more than 2 minutes.

In [ ]:
two_mins = 
avg_duration = 
avg_duration

The number of rentals that started at the San Francisco Caltrain station.

In [ ]:
number_rentals = 
number_rentals

Work with first 1000 rows of trip table. The name of the station where the most rentals ended (assume no ties).

In [ ]:
name_most_rentals = 
name_most_rentals

The number of stations for which the average duration ending at that station was at least 300 seconds.

In [ ]:
temp_table = 
number_stations = 
number_stations